.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: #2980b9; */
  }
  .btnCon{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
  }
  
  .card img {
    width: 90%;
    height: 200px;
    object-fit: cover;
  }
  
  .card p {
    margin: 10px 0;
    padding: 0 20px;
  }
  
  .card button {
    border: none;
    outline: none;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card button:hover {
    background-color: #2980b9;
  }
  